p {
  text-align: justify
}
.nav-color {
  background-color: #99b19a
}
.jumbotron {
  background-color: #fff;
  margin-top: 2.3rem;
}
.btn-outline-success {
  color: #f0f7f1;
  border-color: #eef5f0c7
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff
}
.navbar-dark .navbar-brand {
  color: #1a7d74
}
.btn-primary {
  background-color: #2bb731;
  border-color: #fff
}
.costum-button,
.costum-button:hover {
  border-color: #99b19a
}
.costum-button {
  background-color: #99b19a
}
.costum-button-caro:hover,
.costum-button:hover {
  background-color: #607d8bc9
}
.other-font {
  font-family: 'Open Sans', sans-serif
}
.carousel-caption {
  background-color: #807a7347;
  padding: 20px;
  border-radius: 10px
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 10px
}
.caro-h1 {
  font-size: 50px
}
#font-italic {
  font-style: italic
}
.card-header {
  background-color: rgba(153, 177, 154, .41)
}
.card-body {
  padding: 0;
}
.blog-card-body {
  padding: 20px;
}
.card-image{
  width: 200px;
  height: 250px;
}
.card-text-new{
  margin:  20px;
}
a {
  color: #99b19a
}
a:hover {
  color: #5b715cf5;
  text-decoration: none
}
.badge-secondary {
  color: #CDDC39;
  background-color: #6c757dbf;
  font-size: 25px
}
#upper-font {
  color: #1c7e75;
  font-size: 19px;
  margin: inherit;
}
.badge-info {
  background-color: #99b19a
}
.fa fa-map-marker,
.fa-facebook-square,
.fa-google-plus-square,
.fa-twitter-square {
  font-size: 30px
}
.fa-map-marker,
.fa-phone {
  font-size: 20px
}
.fa-facebook-square:hover,
.fa-google-plus-square:hover,
.fa-twitter-square:hover {
  opacity: .7
}
.fa-phone {
  content: "\f095"
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, .4)
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  color: #6c8c6d;
  top: 90px
}
.modal-content img {
  vertical-align: middle;
  border-style: none;
  width: 100px;
  margin: auto
}
.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: 700;
  text-align: right
}
.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer
}
.price {
  text-align: center
}
.btn-info {
  background-color: #1a7d74c7;
  border-color: #1a7d74c7
}
.bg-dark {
  background-color: #5c695cb3!important;
}

@media screen and (max-width:1024px) {
  .card-header {
      height: 85px
  }
  #card-header1 {
      padding-top: 5px
  }
  .font-weight-normal {
      padding-top: 15px
  }
}

@media screen and (max-width:768px) {
  .card-header {
      height: 85px
  }
  #card-header2 {
      padding-top: 5px
  }
}
  @media screen and (max-width:425px) {
      #card-header1,
      #card-header2 {
          padding-top: 12px
      }
      .modal-content {
          width: 90%
      }
  }
  @media screen and (max-width:375px) {
      #card-header1 {
          padding-top: 4px
      }
      #card-header2 {
          padding-top: 14px
      }
      .price {
          font-size: 2rem
      }
      .modal-content {
          padding: 20px
      }
  }
  @media screen and (max-width:320px) {
      #widthId {
          max-width: 60%
      }
  }

  /*admin login*/
  .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
      padding-top:200px;
      padding-bottom: 100px;
    }
    .form-signin .checkbox {
      font-weight: 400;
    }
    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .admin-sidebar {
      padding-top: 50px;
  } 
  /*admin section*/

  @media (max-width: 767.98px) {
      .offcanvas-collapse {
        position: fixed;
        top: 56px; /* Height of navbar */
        bottom: 0;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        background-color: var(--gray-dark);
        transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
      }
      .offcanvas-collapse.open {
        -webkit-transform: translateX(-1rem);
        transform: translateX(-1rem); /* Account for horizontal padding on navbar */
      }
    }
    .form-signin .form-control {
      background-color: #99b19a45;
      margin-top: 1.5rem;
  }
.blog-button {
  margin-top: 1rem;
}
.text-muted {
  color:#5a5a5a!important;
}
.border {
  border:none!important;
}
.blog-font {
  font-size: 15px;
}
.media {
  background-color: #99b19a14;
  border-radius: 10px;
  margin-bottom: 2px;
}

